<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Családfa - Reichheldek</title>
    <link rel="shortcut icon" href="https://i.imgur.com/bMdrjk0.png" type="image/ico" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <style> body { margin: 0; } </style>
</head>
<body>
    <div id="headerDiv">
        <a href="/">
            <div id="titleContainer">
            <h1>Reichheldek</h1>
            <h2>családfa</h2>
            </div>
        </a>
    </div>

    <div id="mainContainer">
        <a href="/">
            <div id="navigateToMain" class="card">
                <h4 style="color:  rgb(136, 0, 0);">Hiba történt a kérés feldolgozása során.</h4>
                <p>Visszatérés a főoldalra <span style="color: rgb(136, 0, 0);">>></span></p>
            </div>
        </a>
    </div>
</body>
</html>